celery==5.5.3
Django==5.2.6
django-celery-beat==2.8.1
django-ip-geolocation==1.6.1
django-ratelimit==4.1.0
django-timezone-field==7.1
djangorestframework==3.16.1
python-crontab==3.3.0
python-dotenv==1.1.1
redis==6.4.0
requests==2.32.5